@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

.all_inter{
    font-family: 'Inter', sans-serif;
}
.patient_inter{
    font-family: 'Inter', sans-serif;
}