header {
    height: 100vh;

}

.header_bg {
    background: #000 url("../../images/header_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



/* -- Top Bar -- */

.top__bar {
    height: 30px;
    width: 100%;
    background: #a23f25;
    display: flex;
    align-items: center;
}

.top__bar a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    max-width: 50%;
    align-self: center;
}

.top__bar svg {
    margin: 5px;
    color: white;
    width: 15px;
    height: 15px;
}


.top__bar_contacts a {
    color: rgba(255, 255, 255, 0.6);
}

.top__bar_reg a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.top__bar .top__bar_sign-up {
    margin-left: 15px;

}

.top__bar .top__bar_log-in {
    margin-left: 15px;
}

.top__bar_reg a:hover, .top__bar_reg svg:hover {
    color: #000;
}

/* -- Navigation -- */
/* Fu** Bootstrap*/
.navbar {
    padding: 0;
    margin: 0;
}


.nav__menu {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.nav__menu_brand {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
}

.nav__menu_brand span {
    color: rgba(255, 255, 255, 0.5);
}

.nav__menu_middle {
}

.nav__menu_middle a {
    font-size: 16px;
    font-weight: 300;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.5);
}

.menu__item, .menu__item a {
    color: #212529;
    margin-right: 20px;
}

.nav__menu_middle a:hover {
    color: #a23f25;
    /*text-decoration: none;*/
}

.menu__item:last-child a {
    /*margin-right: 20vw;*/
    height: 30px;
    width: 20px;
}

.nav__menu .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.menu__item .dropdown-menu {
    background: white;
}

.menu__dropdown_item {
}

.menu__shopping-bag {
}

.title__box {
    margin-top: 25vh;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    text-align: center;
}

.title {
    line-height: 1.1;
    font-weight: 700;
    font-style: italic;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
    font-size: 80px;
    text-align: center;
    margin-bottom: 24px;
}

.title span {
    color: white;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0;
}

.title__button {
    background-color: #a23f25;
    color: #fff;
    border: 1px solid #a23f25;
    border-radius: 5px;
    padding: 6px 24px;
    font-size: 16px;
    font-weight: bold;
}

.title__button_read-more {
    border: 1px solid #fff;
    background: transparent;
    margin-left: 5px;
}

.title__button_read-more:hover {
    border-color: #a23f25;
    background-color: #a23f25;
    /*color: black;*/
}



/* -- container about -- */

.container__about {
    position: relative;
}

.about__text {
    padding: 48px 15px 48px 48px;
}

.subheading {
    display: inline-block;
    margin-bottom: 0;
    color: #b7472a;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    position: relative;
}

.about__text h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.about__text p {
    margin-bottom: 16px;
}

.about__text .year {

    font-size: 30px;
}

.about__text .year .number {
    font-style: italic;
    color: #b7472a;
}

.about__text .year span {
    color: #000000;
}

.about__image_box {
    background: url(../../images/about.jpg) center center no-repeat;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
}

/* -- container__kind -- */

.container__kind {
/*padding-bottom: 100px;*/
    margin-bottom: 100px;
}

.kind__box {
    background: white;
    text-align: center;
    width: 100%;
}

.kind__box h3 {
    font-size: 22px;
    font-weight: 300;
}

.kind__box .img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    position: relative;
    z-index: 0;
}

.kind__box .img::after {
    position: absolute;
    content: "";
    display: block;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid #b7472a;
    z-index: 1;
    border-radius: 50%;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.kind__box .circle:hover{
    opacity: .6;
}

.bg_kind_1 {
    background-image: url(../../images/kind/kind-1.jpg);
}

.bg_kind_2 {
    background-image: url(../../images/kind/kind-2.jpg);
}

.bg_kind_3 {
    background-image: url(../../images/kind/kind-3.jpg);
}

.bg_kind_4 {
    background-image: url(../../images/kind/kind-4.jpg);
}

.bg_kind_5 {
    background-image: url(../../images/kind/kind-5.jpg);
}

.bg_kind_6 {
    background-image: url(../../images/kind/kind-6.jpg);
}


/* -- container__products -- */
.container__products {

}

.container__products .heading__section h2 {
    padding-bottom: 48px;
}

.desc {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    transition: all 0.6s ease;
    height: 100%;
    width: 100%;

}

.desc a {
    display: inline-block;
    margin: 0 2px;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0);
    line-height: 58px;
    /*position: absolute;*/
}

.desc svg {
    color: rgba(255, 255, 255, 0);
    width: 16px;
    height: 16px;

}

.product:hover .desc {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.6s ease;
}

.product:hover .desc a {
    border-color: rgba(255, 255, 255, 1);
    transition: all 0.6s ease;
}

.product:hover .desc svg {
    color: rgba(255, 255, 255, 1);
    transition: all 0.6s ease;
}

/*.desc a:hover .desc a {*/
/*    border: 1px solid #b7472a ;*/
/*    background: red;*/
/*}*/
/*.desc a:hover .desc a {*/
/*    border: 1px solid #b7472a ;*/
/*    background: red;*/
/*}*/

.product {
    margin-bottom: 40px;
}

.product__img {
    border-radius: 5px;
    height: 350px;
    width: 255px;
    position: relative;
    margin: 0 auto;
}

.product__text {
    padding: 20px;
}

.product__text .category {
    font-style: italic;
    color: #b7472a;
    font-size: 16px;
}

.product__text h2 {
    /*padding-top: ;*/
    padding-bottom: 8px;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300;
}

.product__text .price {
    font-style: italic;
    color: #000;
}

.product .price-sale {
    color: #cccccc;
    text-decoration: line-through;
}

.view-all-products {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    background-color: #b7472a;
    width: 325px;
    display: block;
}

.view-all-products:hover {
    background-color: #b7472a;
    color: #fff;

}

.product-1 {
    background-image: url(../../images/products/prod-1.jpg);
}

.product-2 {
    background-image: url(../../images/products/prod-2.jpg);
}

.product-3 {
    background-image: url(../../images/products/prod-3.jpg);
}

.product-4 {
    background-image: url(../../images/products/prod-4.jpg);
}

.product-5 {
    background-image: url(../../images/products/prod-5.jpg);
}

.product-6 {
    background-image: url(../../images/products/prod-6.jpg);
}

.product-7 {
    background-image: url(../../images/products/prod-7.jpg);
}

.product-8 {
    background-image: url(../../images/products/prod-8.jpg);
}

.product-9 {
    background-image: url(../../images/products/prod-9.jpg);
}

.product-10 {
    background-image: url(../../images/products/prod-10.jpg);
}

.product-11 {
    background-image: url(../../images/products/prod-11.jpg);
}

.product-12 {
    background-image: url(../../images/products/prod-12.jpg);
}


/* -- container__clients -- */

.container__clients {
    /*margin-top: 50px;*/
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
    position: relative;
    background: url(../../images/bg_4.jpg) center center fixed;

}

.container__clients .heading__section h2 ,
.container__clients .heading__section .subheading {
    color: #fff;
}


.container__clients .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000000;
    opacity: .7;
}


/* -- container__blog -- */

