.title__element {
    height: 40vh;
    /*background: red;*/
}
.title__element_title h2 {
    color: white;
    font-size: 60px;
    line-height: 1.1;
    font-weight: 400;
    /*width: 100%;*/
    /*display: block;*/
    margin-top: auto;
    margin-bottom: auto;

}