.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    color: #4b5d68;
    margin: 0 auto;
    position: relative;
    /* overflow-x: hidden; */
}
section {
    margin: 0 auto;
}
a {
    color: #212353;
    text-decoration: none;
}
body,
a {
    font-family: "Avenir", "Arial", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #212353;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
}

h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 1600px;
    /* background: rgba(0, 0, 0, 0.185); */
}