@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,\
    wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,\
    wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

@import "normalize.css";
@import "components_styles/header.css";
@import "components_styles/footer.css";
@import "components_styles/cart.css";

@import "components_styles/ContainerAdvantagesStyles.css";
@import "components_styles/ContainerStatisticStyles.css";

@import "components_styles/elements_styles/TitleStyles.css";
@import "components_styles/elements_styles/BlogCardItemStyles.css";
@import "components_styles/elements_styles/ClientsCardItemsStyles.css";


*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    font-family: inherit;
}

a, a:hover {
    text-decoration: none;
    background-color: transparent;
    transition: .3s all ease;
}

svg, svg:hover, button {
    transition: .3s all ease;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

html {
    font-size: 16px;
}

body {
    font-family: "Spectral", serif;
    line-height: 1.8;
    background: #fff;
    font-weight: 300;
    color: gray;
    font-size: 16px;
}
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
    text-decoration: none;
}

.container_margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.heading__section {
}
.subheading {
    margin-bottom: 0;
    color: #b7472a;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.heading__section h2 {
    font-size: 40px;
    font-weight: 700;

}
.selected {
    color: #b7472a !important;
}